<html>
	<head>
	</head>
	<body style="text-align:left" bgcolor="#B0C4DE">
		<br />
		<br />
		You got:
		<hr style="border: 1px #FFFFFF solid;width:50%;" align="left"/>
		<br />
		Message: <span style="text-decoration:none;color:red"><%=error%></span>
		<br />
		<br />
		<hr style="border: 1px #FFFFFF solid;width:50%;" align="left"/>
		<br />
		<br />
		The session has been destroyed. Next, click <a href="<%=next%>" style="text-decoration:none;color:red">Here</a> to go to the proper page!
	</body>
</html>