<html>
	<head>
	</head>
	<body>
		<br />
		<br />
		You got error:
		<hr style="border: 1px #B0C4DE solid;width:50%;" align="left"/>
		<br />
		Error Message: <%=error%>
		<br />
		<br />
		<hr style="border: 1px #B0C4DE solid;width:50%;" align="left"/>
		<br />
		<br />
		Next, click <a href="/" style="text-decoration:none;color:red">Here</a> to go to initial page!
	</body>
</html>