<html>
	<head>
	</head>
	<body>
		Get problem and want to talk with Adam Kong?
		<br/><br/>
		Ok, click <a href="/auth/spark" style="text-decoration:none;color:red">ME</a> to create a Spark room on behalf of Adam. 
		<br/><br/>
		After clicking it, please input his email address <span style="text-decoration:none;color:red">adkong@cisco.com</span> to identify him.
		<br/><br/>
		You will be asked to join into to the room as well!
		<br />	
		<br />
		<br />	
		<%if(deleteRoom) {%>
		<hr style="border: 1px #B0C4DE solid;width:70%;" align="left"/>
		<br />	
			<%=deleteRoom%>
		<br />
		<br />
		You can click the above red ME to create another room if you still have any concern.
		<%}%>
	</body>
</html>