<html>
	<head>
		<script type='text/javascript' src='/js/avoidMulCli.js'></script>
	</head>
	<body>
		I want to request permissions of your Spark account.
		<br/><br/>
		Click the below button to start granting access:
		<br /><br />
		<form action="/auth/spark" method="post">
			<input type="submit" name="s1" value="Granting Access"/>
		</form>
		After clicking it, please wait for a moment. And in the next page please input your email address. 
		<br/><br/>
		You will be prompted to accept the request later (The detailed access items will be listed out.).
		<br />	
		<br />
		<br />	
		<%if(deleteRoom) {%>
		<hr style="border: 1px #B0C4DE solid;width:70%;" align="left"/>
		<br />	
			<%=deleteRoom%>
		<br />
		<br />
		<%}%>
	</body>
</html>