<html>
	<head>
	</head>
	<body>
		I want to request permissions of your Spark account. 
		<br/><br/>
		Click <a href="/auth/spark" style="text-decoration:none;color:red">HERE</a> to start granting access. 
		<br/><br/>
		After clicking it, please input your email address in the next page. 
		<br/><br/>
		You will be prompted to accept the request later (The detailed access items will be listed out.).
		<br />	
		<br />
		<br />	
		<%if(deleteRoom) {%>
		<hr style="border: 1px #B0C4DE solid;width:70%;" align="left"/>
		<br />	
			<%=deleteRoom%>
		<br />
		<br />
		<%}%>
	</body>
</html>