<html>
	<head>
	</head>
	<body>
		<br />
		<br />		
		Ok, you should be in a room with the requester now, and the token info has been posted there as well. The details:
		<br />
		<hr style="border: 1px #B0C4DE solid;width:70%;" align="left"/>
		<br />
		The room ID is: <%=newRoomID%>
		<br />
		<br />
		The person's membershipID is: <%=membershipID%>
		<br />
		<br />
		The messageID is <%=messageID%>
		<br />
		<br />
		<hr style="border: 1px #B0C4DE solid;width:70%;" align="left"/>
		<br />
		<br />
		You can click the below button to delete the room:
		<br />
		<br />
		<form action="/actions/deleteRoom" method="post">
			<input type="submit" value="Delete the room"/>
		</form>
	</body>
</html>